p Invoice Paid!
p 

p orderId: 
  strong #{paymentIntentDetail.orderId}
p description: 
  strong #{paymentIntentDetail.description}
p price: 
  strong #{paymentIntentDetail.price} #{paymentIntentDetail.currency}
p date: 
  strong #{date}
  
p Regards,
p 
  strong TurinLabs support Team